
  <%= simple_form_for @workout do |f| %>

    <div class="Activity">
      <%= f.input :activity_id, collection: @activity, label_method: :name, value_method: :id, label: "Activity", include_blank: true, selected: @workout.activity_id%>
      <%# <%= as: :select(:activity_id, options_from_collection_for_select(@activity, :id, :name)) %>  
    </div>

    <div class="field">
      <%= f.input :duration %>
    </div>

    <div class="field">
      <%= f.input :notes %>
    </div>

    <div class="actions">
      <%= f.button :submit %>
    </div>

    <% end %>



