<p id="notice"><%= notice %></p>

<p>
  <strong>Activity:</strong>
  <%= @activity.find(@workout.activity_id).name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @workout.duration %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @workout.notes %>
</p>


<%= link_to 'Edit', edit_workout_path(@workout) %> |
<%= link_to 'Back', activity_path %>