<div class="container">
  <div class="row">
    <div class="col-md-6" style="margin-top: 100px;">
        <div class="sign-up">
          <h2>Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.input :email %>
            </div>

            <div class="field">
              <%= f.input :password %>
            </div>

            <div class="field">
              <%= f.input :password_confirmation %>
            </div>

            <div class="actions">
              <%= f.button :submit %>
            </div>
          <% end %>
        </div>
      </div>


    
      <div class="col-md-6" style="margin-top: 100px;">
        <div class="why-join">
          <h2>Why Join?</h2>
          <br />
          <div class="why-image">
          <%= image_tag("womanprofilesmall.jpg", { :style => "border-radius:50%; height:100px;"}) %> 
          </div>
          <br />
          <p>Lorem ipsum dolor amet salvia vexillologist cronut trust fund marfa dreamcatcher. Hammock chartreuse gentrify pickled small batch. Adaptogen tote bag humblebrag readymade ramps franzen. Gochujang single-origin coffee squid tousled enamel pin bicycle rights photo booth kinfolk fingerstache umami semiotics salvia mustache lomo microdosing. Church-key biodiesel cornhole try-hard snackwave tumeric vegan yr jean shorts squid four loko selvage skateboard retro.</p>
          <br />
          <br />
        </div>

      </div>
    </div>
  </div>
</div>




    