<div class="container">
  <div class="row">
    <div class="col-md-6" style="margin-top: 100px;">
        <div class="sign-up">
          <h2>Sign up</h2>

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div class="field">
              <%= f.label :email %>
              <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
            </div>

            <div class="field">
              <%= f.label :password %>
              <%= f.password_field :password, autocomplete: "off" %>
            </div>

            <div class="field">
              <%= f.label :password_confirmation %>
              <%= f.password_field :password_confirmation, autocomplete: "off" %>
            </div>

            <div class="actions">
              <%= f.submit "Sign up" %>
            </div>
          <% end %>
        </div>
      </div>


    
      <div class="col-md-6" style="margin-top: 100px;">
        <div class="why-join">
          <h2>Why Join?</h2>
          <br />
          <br />
          <p>Lorem ipsum dolor amet salvia vexillologist cronut trust fund marfa dreamcatcher. Hammock chartreuse gentrify pickled small batch. Adaptogen tote bag humblebrag readymade ramps franzen. Gochujang single-origin coffee squid tousled enamel pin bicycle rights photo booth kinfolk fingerstache umami semiotics salvia mustache lomo microdosing. Church-key biodiesel cornhole try-hard snackwave tumeric vegan yr jean shorts squid four loko selvage skateboard retro. Deep v lyft photo booth cornhole artisan semiotics tumeric brooklyn. Celiac bicycle rights artisan, 3 wolf moon hoodie salvia drinking vinegar chillwave neutra affogato fixie helvetica street art.</p>
          <br />
          <br />
        </div>

      </div>
    </div>
  </div>
</div>